[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-decouple = "*"
pynacl = "*"
pymongo = {extras = ["srv"], version = "*"}
youtube-dl = "*"
google-api-python-client = "*"
spotipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
